extends ../layout

block content
 .row.host-page
   .col-sm-4.col-md-3.sidebar
     include ../shared/submenu
   .host-content.col-sm-8.col-md-9
     .page-header
       h4 !{title}
       a.btn-xs.btn-success.pull-right(href='/host/' + host.id + '/crawl_rule/create') Add
     table.table.table-stripe#host-table
       thead.thead-inverse
         tr
           th Name
           th Page Type
           th Pattern
           th Actions
       tbody
         each rule in rules
           tr
             td.col-md-3= rule.name
             td.col-md-2= rule.page_type
             td.col-md-5= rule.pattern
             td.col-md-2
               form.form-group(action="/host/" + host.id + "/crawl_rule/" + rule.id + "/edit")
                  button.btn-xs.btn-info(type='submit') Edit
               form.form-group(action="/host/" + host.id + "/crawl_rule/delete", method='POST')
                 input(type='hidden', name='crawl_rule_id', value=rule.id)
                 button.btn-xs.btn-danger(type='submit') Delete
