extends layout

block content
  .page-header
    h3 !{title}
    a.btn.btn-success.pull-right(href='/host/create') Create

  table.table.table-stripe#host-table
    thead.thead-inverse
      tr
        th Host Id
        th Domain
        th Priority
        th Actions
    tbody
      each host in hosts
        tr
          td.col-md-4
            a(href="/host/" + host.id) !{host.id}
          td.col-md-4= host.domain
          td.col-md-1= host.setting.priority
          td.col-md-3
            form.form-group(action='/host/delete', method='POST')
              input(type='hidden', name='host_id', value=host.id)
              button.btn.btn-danger(type='submit')
                i.fa.fa-trash
                | Delete

